# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production
.env.local
.env.*.local

# Firebase and sensitive config files
src/config/*.json
config/
firebase.json
firestore.rules
firestore.indexes.json
firestore.rules.dev
firestore.rules.prod
firestore.rules.local
serviceAccountKey.json
firebase-adminsdk*.json
*.pem
*.key
private-key.pem

# temp directory
.temp
.tmp
